<section class="form-section">
<h2>FAÇA SUA INSCRIÇÃO</h2>

<form action="" [formGroup]="formularioInscricao">
    <div class="form-top">
        <input placeholder="Nome" type="text" formControlName="nome">
        <input placeholder="Sobrenome" type="text" formControlName="sobrenome">     
        <input placeholder="E-mail" type="email" formControlName="email">
        <input placeholder="Telefone" type="text" formControlName="telefone">
        
    </div>

    <div class="form-bottom">
    <input placeholder="CEP" type="text" formControlName="cep">
    <input placeholder="Endereço" type="text" formControlName="endereco">
    <input placeholder="Bairro" type="text" formControlName="bairro">
    <input placeholder="Complemento" type="text" formControlName="complemento">
    <input placeholder="Cidade" type="text" formControlName="cidade">
    <input placeholder="Estado" type="text" formControlName="estado">
    </div>
    <button (click)="enviar()">Enviar</button>
</form>
</section>